 <app-home></app-home>
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Idibro</th>
            <th scope="col">Titulo</th>
            <th scope="col">Autor</th>
            <th scope="col">Editorial</th>
            <th scope="col">Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let libro of libros">
            <td>{{libro.idlibro}}</td>
            <td>{{libro.titulo}}</td>
            <td>{{libro.autor}}</td>
            <td>{{libro.editorial}}</td>
            <td>{{libro.fecha}}</td>
          </tr>
        </tbody>
      </table>
</div>